$avanti-orange: #fe4403;
$avanti-green: #004355;

$c2c-purple: #8e2e87;
$c2c-blue: #202f5b;

$chiltern-navy: #496578;
$chiltern-blue: #91e5f8;

$emr-purple: #643251;

$thameslink-purple: #3e234e;

$ga-red: #be1054;

$gwr-green: #23333c;

$heathex-purple: #462642;

$lner-blue: #2d3748;

$londonnw-lime: #2bd292;
$londonnw-green: #667a7a;

$merseyrail-yellow: #ebd66b;
$merseyrail-grey: #7e8593;

$northern-purple: #160f4c;

$scotrail-blue: #0e1c43;

$southeastern-blue: #2c3149;

$tfl-blue: #485099;

$tpex-blue: #202350;

$tfw-grey: #c5c6cb;

$wmr-purple: #1f133e;
$wmr-orange: #c55f26;
