@import '../sass/colours';
@import '../sass/mixins';
@import '../sass/fonts';
@import '../sass/operators';

.container {
	&__tooltip {
		display: none;
		&--visible {
			display: block;
			position: absolute;
			z-index: 1;
		}
	}

	&__radio {
		padding-top: 10px;
	}
}

.plane {
	transform: rotate(-45deg);
}

.capitalise {
	text-transform: capitalize;
}

.button {
	background-color: $light-blue;
	border-bottom: 5px solid $blue;
	color: $white;
	font-size: 14px;
	position: relative;

	&::after {
		background-color: $blue;
		content: '';
		display: block;
		height: 95%;
		position: absolute;
		right: 1px;
		top: 0;
		width: 0.1%;
	}

	&.active {
		background-color: $blue;
		border-bottom: 5px solid $light-blue;
		font-weight: bold;

		&::after {
			display: none;
		}
	}
}

.input {
	border: none;
	border-bottom: 5px solid $light-blue;
	border-radius: 0;
	padding: 6px 0;
}

.tooltip {
	&__ul {
		cursor: pointer;
		height: 220px;
		margin-left: -40px;
		margin-top: 0;
		overflow-y: scroll;
		padding-right: 30px;
	}

	&__li {
		@include helvetica(400);
		background-color: $white;
		border-left: 1px solid $light-blue;
		border-right: 1px solid $light-blue;
		color: $blue;
		display: block;
		list-style: none;
		font-size: 14px;
		padding: 10px;
		min-width: 190px;
		max-width: 190px;
		width: 25%;

		&--tight {
			letter-spacing: -1px;
		}

		&:not(:last-of-type) {
			border-top: 1px solid $light-blue;
		}

		&:last-of-type {
			border-top: 1px solid $light-blue;
			border-bottom: 1px solid $light-blue;
		}
	}

	&__span {
		float: right;
		text-align: right;
	}
}

h1,
h2,
h3,
h4,
div,
p {
	color: #f18621;
}

h1,
h2,
h3,
h4 {
	@include dm-bold;
}

div,
p {
	@include dm-regular;
	font-size: 20px;
}

button {
	@include helvetica(400);
	border: none;
	padding: 5px 10px;
}
